.tt-figure {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  right: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.8;
  background-color: rgb(173, 173, 173);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  &__triangle{
    width: 0;
    height: 0px;
    border-style: solid;
    border-width: 0 30px 40px 30px;
    background-color: transparent !important;
    border-color: transparent transparent #ffffff transparent;
    box-shadow: unset;
    align-items: baseline;
    line-height: 2;
  }
  &__circle{
    border-radius: 50%;
  }
}
.tt-text {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}