.tt-teeter {
  width: 800px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}
.tt-base {
  width: 200px;
  height: 200px;
  background-image: url('./assets/teeter.svg');
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  z-index: 2;
}
.tt-plank {
  width: 100%;
  height: 10px;
  background-color: #323e48;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  z-index: 1;
  transition: all 1s ease;
}
.tt-figure-container {
  position: relative;
  width: 100%;
  height: auto;
  transition: all 1s ease;
}